<mat-toolbar color="primary">MMMoatTagWrapper</mat-toolbar>
<mat-card>
  <mat-form-field>
    <input type="text" matInput placeholder="Tag" required #tag>
  </mat-form-field>
  <button mat-button (click)="getTag(tag.value)" mat-raised-button color="primary">Wrap Me!</button>
  <mat-divider></mat-divider>
  <ul>
    <li>https://svastx.moatads.com/mediamathvpaid176399725163/template.xml?level1=[AD_ATTR.advertiser]&level2=[AD_ATTR.campaign]&level3=[AD_ATTR.strategy]&level4=[AD_ATTR.creative]&slicer1=[BID_ATTR.site]&ad_width={{width}}&ad_height={{height}}&ad_title=MEDIAMATH_VPAID_Template_Title_Asset&ad_duration={{encodedDuration}}&zMoatBidId=[BID_ATTR.bid_id]&tmode=2&vast_url={{encodedUrl}}</li>
  </ul>
</mat-card>
