form {
  width: 80%;
  margin: 1rem auto;
  mat-form-field {
    width: 100%;
  }
}

table {
  text-align: left;
  width: 100%;
  td {
    border-top: 1px solid #666;
    vertical-align: top;
    word-break: break-word;
    &:first-child {
      word-break: normal;
    }
  }
}
